.icon-01 {
    background-image: url(../images/icon/index_01.png);
    background-position-x: 20px;
}

.icon-02 {
    background-image: url(../images/icon/index_02.png);
    background-position-x: 20px;
}

.icon-03 {
    background-image: url(../images/icon/index_03.png);
    background-position-x: 20px;
}

.icon-04 {
    background-image: url(../images/icon/index_04.png);
    background-position-x: 20px;
}

.icon-05 {
    background-image: url(../images/icon/index_05.png);
    background-position-x: 20px;
}

.icon-06 {
    background-image: url(../images/icon/index_06.png);
    background-position-x: 20px;
}

.icon-07 {
    background-image: url(../images/icon/index_07.png);
    background-position-x: 20px;
}

.icon-08 {
    background-image: url(../images/icon/index_08.png);
    background-position-x: 20px;
}

.icon-09 {
    background-image: url(../images/icon/index_09.png);
    background-position-x: 20px;
}

.icon-10 {
    background-image: url(../images/icon/index_10.png);
    background-position-x: 20px;
}

.icon-11 {
    background-image: url(../images/icon/index_11.png);
    background-position-x: 20px;
}

.icon-12 {
    background-image: url(../images/icon/index_12.png);
    background-position-x: 20px;
}

.icon-13 {
    background-image: url(../images/icon/index_13.png);
    background-position-x: 20px;
}

.icon-14 {
    background-image: url(../images/icon/index_14.png);
    background-position-x: 20px;
}

.icon-15 {
    background-image: url(../images/icon/index_15.png);
    background-position-x: 20px;
}