@media (max-width: 750px) {
 
}

.dataTables_info{
    width: initial;
    text-align: left;
    float: left;
}

.privilege-label-style {
    padding-top: 10px;
    font-weight: bold;
    float: left;
}

.bbtn, .buttons, button {
    margin-right: 5px;
    border-radius: 3px;
}

.bbtn{
    margin-bottom: 0;
    font-size: 14vm;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/**** tab标签样式 ****/
ul{
    list-style: none;
    margin:0px;
    padding:0px;
}
a{
    text-decoration: none;
    color: #ff6666;
    font-family: Arial;
}

