@media (max-width: 750px) {
 
}

.dataTables_info{
    width: initial;
    text-align: left;
    float: left;
}

/**设置权限弹出框距离右侧框**/
.underline{
    width:100%;
    height:1px;
    padding:0px;
    margin-top:70px;
    background-color:#D5D5D5;
    overflow:hidden;
}

.other_underline{
    width:100%;
    height:1px;
    padding:0px;
    margin-top:2px;
    background-color:#D5D5D5;
    overflow:hidden;
}    


.groupPrivilege-table{
    margin-left: 20px;
    margin-top: 5px;
    width: 98%;
    margin-bottom: 5px;
}
.table-tr-border{
    border-bottom:1px solid #DDDDDD;
    border-top:1px solid #DDDDDD;
}

.table-tr-border-1{
    border-bottom:1px solid #DDDDDD;
    border-top:1px solid #DDDDDD;
    font-weight: bold;
}

.table-td-h{
    height:40px;
    padding-left:10px;
}

.table-td-td-h{
    height:40px;
    padding-left:25px;
}

.table-td-btn{
    text-align:right;
}

.privilege-label-style{
    padding-top: 10px;
    font-weight: bold;
    float: left;
}

.bbn{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14vm;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.bbtn{
	margin: 2px;
}

/*** 单选按钮样式 ***/
label {font-size:14px;cursor:pointer;}
label i {
     font-size:12px;
     font-style:normal;
     display:inline-block;
     width:13px;
     height:13px;
     text-align:center;
     line-height:13px;
     color:#fff;
     vertical-align:middle;
     margin:-2px 2px 1px 0px;
     border:#2489c5 1px solid;
}
input[type="checkbox"],input[type="radio"] {display:none;}
input[type="radio"] + i {border-radius:7px;}
input[type="checkbox"]:checked + i,input[type="radio"]:checked + i {background:#2489c5;}
input[type="checkbox"]:disabled + i,input[type="radio"]:disabled + i {border-color:#2489c5;}
input[type="checkbox"]:checked:disabled + i,input[type="radio"]:checked:disabled + i {background:#2489c5;}

/*** 用户头像div***/
.userHeadImgDiv{
    position: relative;
    float: right;
    margin-top: -110px;
    margin-right: 130px;
    width: 110px;
    height: 110px;
}
#userHeadImg{
    background: url('../../../images/nopic.png') top left;
}

.btn-info-ex{
	color: #fff;
    background-color: #888888;
    border-color: #888888;
    cursor: no-drop;
}
.btn-info-ex:hover{
	color: #fff;
    background-color: #888888;
    border-color: #888888;
    cursor: no-drop;
}




