body {
    font-family: "微软雅黑";
    font-size: 12px;
    background-image: url("../../../images/login-bg.png") ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #373737;
}

